<?xml version="1.0" encoding="UTF-8"?>
<SettingsConfig allowSearch="true" allowRestore="true">
	<!--Include optional="true">/absolute/include/path.xml</Include-->
	<Category>
		<Section>
			<Group>
				<Entry key="prop1"
					   type="bool"
					   title="&amp;Check me"
					   tooltip="I am a checkbox!"
					   default="true">
					<SearchKey>property</SearchKey>
					<SearchKey>bool</SearchKey>
					<Property key="qtmvvm_preview" type="bool">true</Property>
				</Entry>
				<Entry key="prop2"
					   type="string"
					   title="Enter a &amp;name">
					<SearchKey>property</SearchKey>
					<Property key="placeholderText" type="string" tr="true">Enter a nice name</Property>
					<Property key="qtmvvm_preview" type="string" tr="true">Your current name: %1</Property>
				</Entry>
			</Group>
			<Group title="Sub-Group" tooltip="This is a tooltip">
				<Entry key="prop3"
					   type="action"
					   title="Open &amp;system settings"
					   tooltip="Pressing this action will open the system settings">
					<Property key="text" type="string">Trigger Action</Property>
					<Property key="args" type="object">
						<Property key="hint" type="string" tr="true">You can use this to trigger whatever kind of action you need</Property>
					</Property>
				</Entry>
				<Entry key="prop4"
					   type="selection"
					   title="Select a &amp;mode"
					   default="Variant B"
					   trdefault="true">
					<Property key="listElements" type="list">
						<Element type="string" tr="true">Variant A</Element>
						<Element type="string" tr="true">Variant B</Element>
						<Element type="string" tr="true">Variant C</Element>
					</Property>
					<Property key="qtmvvm_preview" type="string" tr="true">Current value: %1</Property>
				</Entry>
			</Group>
		</Section>
		<Section title="Another Section" icon="" tooltip="This is another section">
			<Entry key="prop5"
				   type="double"
				   title="Enter a &amp;value"
				   tooltip="The value must be between 0 and 1"
				   default="0.0">
				<Property key="minimum" type="double">0.0</Property>
				<Property key="maximum" type="double">1.0</Property>
				<Property key="qtmvvm_preview" type="string" tr="true">Current value: %L1</Property>
			</Entry>
			<Entry key="prop6"
				   type="selection"
				   title="Select a &amp;mode"
				   default="3">
				<Property key="listElements" type="list">
					<Element type="object">
						<Property key="name" type="string" tr="true">Value A</Property>
						<Property key="value" type="int">1</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string" tr="true">Value B</Property>
						<Property key="value" type="int">2</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string" tr="true">Value C</Property>
						<Property key="value" type="int">4</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string" tr="true">Value A+B</Property>
						<Property key="value" type="int">3</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string" tr="true">Value A+C</Property>
						<Property key="value" type="int">5</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string" tr="true">Value B+C</Property>
						<Property key="value" type="int">6</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string" tr="true">Value A+B+C</Property>
						<Property key="value" type="int">7</Property>
					</Element>
				</Property>
				<Property key="qtmvvm_preview" type="string" tr="true">Current value: %1</Property>
			</Entry>
		</Section>
	</Category>
	<Category title="Another main category">
		<Entry key="prop7"
			   type="int"
			   title="Enter a &amp;number"
			   default="42">
			<Property key="qtmvvm_preview" type="string" ztr="true">Is set to %n unit(s)</Property>
		</Entry>
		<Entry key="prop8"
			   type="selection"
			   title="Select a &amp;mode"
			   default="Text 2"
			   trdefault="true">
			<Property key="editable" type="bool">true</Property>
			<Property key="listElements" type="list">
				<Element type="string" tr="true">Text 1</Element>
				<Element type="string" tr="true">Text 2</Element>
			</Property>
		</Entry>
		<Entry key="prop9"
			   type="url"
			   title="Enter a &amp;website">
			<Property key="placeholderText" type="string" tr="true">https://example.org/test</Property>
		</Entry>
		<Entry key="prop10"
			   type="QFont"
			   title="Choose a &amp;font" />
		<Entry key="prop12"
			   type="range"
			   title="&amp;Volume"
			   default="50">
			<Property key="minimum" type="int">0</Property>
			<Property key="maximum" type="int">100</Property>
			<Property key="valueFormat" type="string">%1 %</Property>
		</Entry>
		<Entry key="prop13"
			   type="QTime"
			   title="Choose a time"
			   default="14:30">
			<Property key="qtmvvm_preview" type="string">Selected time: %1</Property>
			<Property key="qtmvvm_dateformat" type="int">1</Property>
		</Entry>
		<Entry key="prop14"
			   type="QDate"
			   title="Choose a date"
			   default="2018-10-10">
			<Property key="qtmvvm_preview" type="string">Selected date: %1</Property>
			<Property key="qtmvvm_dateformat" type="string">dd. MMMM yyyy</Property>
		</Entry>
		<Entry key="prop15"
			   type="QDateTime"
			   title="Choose a date and time"
			   default="2018-10-10T14:30">
			<Property key="qtmvvm_preview" type="string">Selected date and time: %1</Property>
		</Entry>
		<Entry key="prop16"
			   type="QColor"
			   title="Choose a color"
			   default="#AA00FF" />
		<Entry key="propErr"
			   type="non-existant-type"
			   title="Non existing type" />
	</Category>
</SettingsConfig>
