<?xml version="1.0" encoding="UTF-8"?>
<SettingsConfig allowSearch="true" allowRestore="true">
	<!--Include optional="true">/absolute/include/path.xml</Include-->
	<Category>
		<Section>
			<Group>
				<Entry key="prop1"
					   type="bool"
					   title="&amp;Check me"
					   tooltip="I am a checkbox!"
					   default="false">
					<SearchKey>property</SearchKey>
					<SearchKey>bool</SearchKey>
					<Property key="text" type="string">Please do check me</Property>
				</Entry>
				<Entry key="prop2"
					   type="string"
					   title="Enter a &amp;name"/>
			</Group>
			<Group title="Sub-Group" tooltip="This is a tooltip">
				<Entry key="prop3"
					   type="action"
					   title="Open &amp;system settings">
					<Property key="name" type="string">baum</Property>
					<Property key="value" type="double">4.2</Property>
				</Entry>
				<Entry key="prop4"
					   type="selection"
					   title="Select a &amp;mode"
					   default="Variant B">
					<Property key="listElements" type="list">
						<Element type="string">Variant A</Element>
						<Element type="string">Variant B</Element>
						<Element type="string">Variant C</Element>
					</Property>
				</Entry>
			</Group>
		</Section>
		<Section title="Another Section" icon="" tooltip="This is another section">
			<Entry key="prop5"
				   type="double"
				   title="Enter a &amp;value"
				   tooltip="The value must be between 0 and 1">
				<Property key="minimum" type="double">0.0</Property>
				<Property key="maximum" type="double">1.0</Property>
			</Entry>
			<Entry key="prop6"
				   type="selection"
				   title="Select a &amp;mode"
				   default="10">
				<Property key="listElements" type="list">
					<Element type="object">
						<Property key="name" type="string">Value A</Property>
						<Property key="value" type="int">1</property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Value B</Property>
						<Property key="value" type="int">2</property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Value C</Property>
						<Property key="value" type="int">4</property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Value A+B</Property>
						<Property key="value" type="int">3</property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Value A+C</Property>
						<Property key="value" type="int">5</property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Value B+C</Property>
						<Property key="value" type="int">6</property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Value A+B+C</Property>
						<Property key="value" type="int">7</property>
					</Element>
				</Property>
			</Entry>
		</Section>
	</Category>
	<Category title="Another main category">
		<Entry key="prop7"
			   type="int"
			   title="Enter a &amp;number"/>
	</Category>
</SettingsConfig>
